@charset "utf-8";
html {
    color: white;
    background-color: #3f992d;
}
img {
    padding: 10px;
    border: solid 3px rgb(25, 182, 51);
}
th {
    text-align: left;
}
table {
    width: 600px;
}
table, th, td {
    font-weight: normal;
    background-color: rgb(163, 247, 142);
    color: black;
    border: solid 1px black;
    border-collapse: collapse;
}
th {
    padding: 10px
}
th:first-of-type {
    font-weight: bold; 
    text-align: center;
}
.center {
    padding: 10px 0px;
    text-align: center;
}

.listPad {
    padding-left: 10px;
}

caption {
    color: white;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(0, 255, 115)
}